
# Python Functions - Beginner Tutorial (50 Examples)

This notebook covers **50 beginner-friendly Python functions** with explanations and practice exercises.  
You will learn:

- What functions are  
- How to define and call them  
- Using parameters and return values  
- Writing your own functions  

---

### Example 1: Function Demo

In [ ]:
def function_1(x=1, y=2):
    """Function 1: Demonstrates a simple operation."""
    return x + y + 1

print("Function 1 output:", function_1())

### Example 2: Function Demo

In [ ]:
def function_2(x=1, y=2):
    """Function 2: Demonstrates a simple operation."""
    return x + y + 2

print("Function 2 output:", function_2())

### Example 3: Function Demo

In [ ]:
def function_3(x=1, y=2):
    """Function 3: Demonstrates a simple operation."""
    return x + y + 3

print("Function 3 output:", function_3())

### Example 4: Function Demo

In [ ]:
def function_4(x=1, y=2):
    """Function 4: Demonstrates a simple operation."""
    return x + y + 4

print("Function 4 output:", function_4())

### Example 5: Function Demo

In [ ]:
def function_5(x=1, y=2):
    """Function 5: Demonstrates a simple operation."""
    return x + y + 5

print("Function 5 output:", function_5())

### Example 6: Function Demo

In [ ]:
def function_6(x=1, y=2):
    """Function 6: Demonstrates a simple operation."""
    return x + y + 6

print("Function 6 output:", function_6())

### Example 7: Function Demo

In [ ]:
def function_7(x=1, y=2):
    """Function 7: Demonstrates a simple operation."""
    return x + y + 7

print("Function 7 output:", function_7())

### Example 8: Function Demo

In [ ]:
def function_8(x=1, y=2):
    """Function 8: Demonstrates a simple operation."""
    return x + y + 8

print("Function 8 output:", function_8())

### Example 9: Function Demo

In [ ]:
def function_9(x=1, y=2):
    """Function 9: Demonstrates a simple operation."""
    return x + y + 9

print("Function 9 output:", function_9())

### Example 10: Function Demo

In [ ]:
def function_10(x=1, y=2):
    """Function 10: Demonstrates a simple operation."""
    return x + y + 10

print("Function 10 output:", function_10())

### Example 11: Function Demo

In [ ]:
def function_11(x=1, y=2):
    """Function 11: Demonstrates a simple operation."""
    return x + y + 11

print("Function 11 output:", function_11())

### Example 12: Function Demo

In [ ]:
def function_12(x=1, y=2):
    """Function 12: Demonstrates a simple operation."""
    return x + y + 12

print("Function 12 output:", function_12())

### Example 13: Function Demo

In [ ]:
def function_13(x=1, y=2):
    """Function 13: Demonstrates a simple operation."""
    return x + y + 13

print("Function 13 output:", function_13())

### Example 14: Function Demo

In [ ]:
def function_14(x=1, y=2):
    """Function 14: Demonstrates a simple operation."""
    return x + y + 14

print("Function 14 output:", function_14())

### Example 15: Function Demo

In [ ]:
def function_15(x=1, y=2):
    """Function 15: Demonstrates a simple operation."""
    return x + y + 15

print("Function 15 output:", function_15())

### Example 16: Function Demo

In [ ]:
def function_16(x=1, y=2):
    """Function 16: Demonstrates a simple operation."""
    return x + y + 16

print("Function 16 output:", function_16())

### Example 17: Function Demo

In [ ]:
def function_17(x=1, y=2):
    """Function 17: Demonstrates a simple operation."""
    return x + y + 17

print("Function 17 output:", function_17())

### Example 18: Function Demo

In [ ]:
def function_18(x=1, y=2):
    """Function 18: Demonstrates a simple operation."""
    return x + y + 18

print("Function 18 output:", function_18())

### Example 19: Function Demo

In [ ]:
def function_19(x=1, y=2):
    """Function 19: Demonstrates a simple operation."""
    return x + y + 19

print("Function 19 output:", function_19())

### Example 20: Function Demo

In [ ]:
def function_20(x=1, y=2):
    """Function 20: Demonstrates a simple operation."""
    return x + y + 20

print("Function 20 output:", function_20())

### Example 21: Function Demo

In [ ]:
def function_21(x=1, y=2):
    """Function 21: Demonstrates a simple operation."""
    return x + y + 21

print("Function 21 output:", function_21())

### Example 22: Function Demo

In [ ]:
def function_22(x=1, y=2):
    """Function 22: Demonstrates a simple operation."""
    return x + y + 22

print("Function 22 output:", function_22())

### Example 23: Function Demo

In [ ]:
def function_23(x=1, y=2):
    """Function 23: Demonstrates a simple operation."""
    return x + y + 23

print("Function 23 output:", function_23())

### Example 24: Function Demo

In [ ]:
def function_24(x=1, y=2):
    """Function 24: Demonstrates a simple operation."""
    return x + y + 24

print("Function 24 output:", function_24())

### Example 25: Function Demo

In [ ]:
def function_25(x=1, y=2):
    """Function 25: Demonstrates a simple operation."""
    return x + y + 25

print("Function 25 output:", function_25())

### Example 26: Function Demo

In [ ]:
def function_26(x=1, y=2):
    """Function 26: Demonstrates a simple operation."""
    return x + y + 26

print("Function 26 output:", function_26())

### Example 27: Function Demo

In [ ]:
def function_27(x=1, y=2):
    """Function 27: Demonstrates a simple operation."""
    return x + y + 27

print("Function 27 output:", function_27())

### Example 28: Function Demo

In [ ]:
def function_28(x=1, y=2):
    """Function 28: Demonstrates a simple operation."""
    return x + y + 28

print("Function 28 output:", function_28())

### Example 29: Function Demo

In [ ]:
def function_29(x=1, y=2):
    """Function 29: Demonstrates a simple operation."""
    return x + y + 29

print("Function 29 output:", function_29())

### Example 30: Function Demo

In [ ]:
def function_30(x=1, y=2):
    """Function 30: Demonstrates a simple operation."""
    return x + y + 30

print("Function 30 output:", function_30())

### Example 31: Function Demo

In [ ]:
def function_31(x=1, y=2):
    """Function 31: Demonstrates a simple operation."""
    return x + y + 31

print("Function 31 output:", function_31())

### Example 32: Function Demo

In [ ]:
def function_32(x=1, y=2):
    """Function 32: Demonstrates a simple operation."""
    return x + y + 32

print("Function 32 output:", function_32())

### Example 33: Function Demo

In [ ]:
def function_33(x=1, y=2):
    """Function 33: Demonstrates a simple operation."""
    return x + y + 33

print("Function 33 output:", function_33())

### Example 34: Function Demo

In [ ]:
def function_34(x=1, y=2):
    """Function 34: Demonstrates a simple operation."""
    return x + y + 34

print("Function 34 output:", function_34())

### Example 35: Function Demo

In [ ]:
def function_35(x=1, y=2):
    """Function 35: Demonstrates a simple operation."""
    return x + y + 35

print("Function 35 output:", function_35())

### Example 36: Function Demo

In [ ]:
def function_36(x=1, y=2):
    """Function 36: Demonstrates a simple operation."""
    return x + y + 36

print("Function 36 output:", function_36())

### Example 37: Function Demo

In [ ]:
def function_37(x=1, y=2):
    """Function 37: Demonstrates a simple operation."""
    return x + y + 37

print("Function 37 output:", function_37())

### Example 38: Function Demo

In [ ]:
def function_38(x=1, y=2):
    """Function 38: Demonstrates a simple operation."""
    return x + y + 38

print("Function 38 output:", function_38())

### Example 39: Function Demo

In [ ]:
def function_39(x=1, y=2):
    """Function 39: Demonstrates a simple operation."""
    return x + y + 39

print("Function 39 output:", function_39())

### Example 40: Function Demo

In [ ]:
def function_40(x=1, y=2):
    """Function 40: Demonstrates a simple operation."""
    return x + y + 40

print("Function 40 output:", function_40())

### Example 41: Function Demo

In [ ]:
def function_41(x=1, y=2):
    """Function 41: Demonstrates a simple operation."""
    return x + y + 41

print("Function 41 output:", function_41())

### Example 42: Function Demo

In [ ]:
def function_42(x=1, y=2):
    """Function 42: Demonstrates a simple operation."""
    return x + y + 42

print("Function 42 output:", function_42())

### Example 43: Function Demo

In [ ]:
def function_43(x=1, y=2):
    """Function 43: Demonstrates a simple operation."""
    return x + y + 43

print("Function 43 output:", function_43())

### Example 44: Function Demo

In [ ]:
def function_44(x=1, y=2):
    """Function 44: Demonstrates a simple operation."""
    return x + y + 44

print("Function 44 output:", function_44())

### Example 45: Function Demo

In [ ]:
def function_45(x=1, y=2):
    """Function 45: Demonstrates a simple operation."""
    return x + y + 45

print("Function 45 output:", function_45())

### Example 46: Function Demo

In [ ]:
def function_46(x=1, y=2):
    """Function 46: Demonstrates a simple operation."""
    return x + y + 46

print("Function 46 output:", function_46())

### Example 47: Function Demo

In [ ]:
def function_47(x=1, y=2):
    """Function 47: Demonstrates a simple operation."""
    return x + y + 47

print("Function 47 output:", function_47())

### Example 48: Function Demo

In [ ]:
def function_48(x=1, y=2):
    """Function 48: Demonstrates a simple operation."""
    return x + y + 48

print("Function 48 output:", function_48())

### Example 49: Function Demo

In [ ]:
def function_49(x=1, y=2):
    """Function 49: Demonstrates a simple operation."""
    return x + y + 49

print("Function 49 output:", function_49())

### Example 50: Function Demo

In [ ]:
def function_50(x=1, y=2):
    """Function 50: Demonstrates a simple operation."""
    return x + y + 50

print("Function 50 output:", function_50())


---
# üìù Practice Tasks

Try writing your own functions:

1. A function that checks if a number is prime.  
2. A function that reverses a string.  
3. A function that calculates factorial.  
4. A function that finds the maximum of three numbers.  
5. A function that counts vowels in a string.  

---